body {
    background-color: rgba(19, 12, 12, 0.91);
    color: white;
}

ul > p {
    color: gray;
}

li {
    list-style: none;
    font-weight: bold;
    position: relative;
}

h1 {
    font-size: 48px;
    margin: 0 0 0 0;
}

h2 {
    font-size: 40px;
    margin: 0 0 0 0;
}

h3 {
    margin: 0;
    width: 60%;
    display: inline-block;
}

.align-right {
    font-weight: bold;
    float: right;
    position: relative;
    bottom: 40px;
}

aside {
    width: 30%;
    float: right;
}

.header {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}

.name-title {
    display: inline-block;
    position: relative;
    bottom: 70px;
    left: 100px;
    width: 30%;
   
}

#Contact_Info {
    display: inline-block;
    position: relative;
    margin: 0;
    height: auto;
    bottom: 60px;
    left: 100px;
    width: 40%;
    height: 200px;
    font-size: 20px;
}

#bio {
    display: inline-block;
    position: relative;
    color: gray;
    text-align: justify;
}


#resume-stats {
    display: inline-block;
    width: 100%;
}

.name-title {
    position: relative;
    bottom: 130px;
    right: 130px;
}

#Contact_Info{
    list-style: none;
}

/* #Employment {
    width: 60%;
    display: inline-block;
}

#Education {
    width: 60%;
    display: inline-block;
} */

.container {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 60%;
}

.empty-progress-bar {
    width: 90%;
    background-color: darkgray;
}

.filled-progress-bar {
    text-align: right;
}

.filled-progress-bar.red {
    width: 90%;
    background-color: red;
}

.filled-progress-bar.blue {
    width: 50%;
    background-color: blue;
}

.filled-progress-bar.green {
    width: 70%;
    background-color: green;
}

.filled-progress-bar.purple {
    width: 80%;
    background-color: purple;
}

.filled-progress-bar.orange {
    width: 70%;
    background-color: orange;
}

.filled-progress-bar.yellow {
    width: 85%;
    background-color: yellow;
}

.fas.fa-caret-square-down.blue {
    color: blue;
}

.fas.fa-caret-square-down.green, .green-square {
    color: green;
}

.blue-star, .blue-square {
    color: blue;
}

.red-star, .red-square {
    color: red;
}

.orange-square {
    color: orange;
}

.yellow-square {
    color: yellow;
}

.gray {
    color: gray;
}